@import "../scss/variables.scss";


.candyListWrapper {
  background-color: $orange;
  width: 80%;
  margin: 0 auto;
  border: 3px solid $light-pink;
  border-radius: 15px;

  li {
    padding: 0;
    list-style: none;
  }
}

@media (max-width: 600px) {

  .candyListWrapper {
    width: 100%;
  }
}