@import "../scss/variables.scss";

.candywrapper {
  @extend %divContainer;


  .img {
    float: left;
    height:37%;
    border-radius: 15px;
  }

  .name {
    font-size: 2rem;
    text-decoration: underline;

  }

  .text {
    display: inline;
    
  }

  .diet {
    display: inline;
    padding-right: 10px;
    
  }


  button {
    @extend %button;

  }
  
  button:hover {
    @extend %butHover;
  }

  @keyframes background {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400px 0;
    }
  }

  
}


@media (max-width: 500px) {

  .candywrapper {
    width: 90%;
  }
}
