$font-stack: 'Emilys Candy', 'Apple Chancery', 'cursive';

// colors
$yellow: #fffae7;
$light-pink: #f29191;
$dark-pink: #f14668;
$grey: #d1d9d9;
$blue: #94d0cc;
$light-blue: #caf7e3;
$orange: #ffd384


